form {
    background-color: azure;
     font-size: 1.5em;
}

legend {
     font-weight: bolder;
     text-decoration: underline;
}
label {
     display: block;
     width: 400px;
}
input{
     display: block;
     width: 90%;
     height: 35px;
     border-radius: 10px;
}
textarea {
     display: block;
     width: 90%;
     height: 100px;
}
.submit {
     width: 200px;
     height: 50px;
     border-radius: 30px;
     background-color: blue;
     color: white;
     cursor: pointer;
     display: flex;
     transition: all 0.3s ease-in-out;
}
.submit:hover {
     transform: scale(1.1);
}