.container {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: forestgreen;
  display: -ms-grid;
  display: -moz-grid;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

.brand-logo {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.nav-links {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 30px;
  justify-content: space-around;
  align-items: center;
  margin-right: 30px;
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.nav-links a:hover {
  color: blue;
}
