.about-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
}

.about-section {
    background: #f4f4f4;
    padding: 4rem 2rem;
}

.about-text {
    color: white;
    background: hsl(210, 100%, 25%); /* Match the footer color with the header */
    box-shadow: 1px 1px 4px white;
    border-radius: 20px;
}

.about-section-header {
    display: grid;
    justify-content: center;
}

.about-picture {
    /* flex: 1; */
    text-align: center;
    padding: 20px;
}

.profile-container {
    text-align: center;
}

.about-text {
    /* flex: 2; */
    padding: 20px;
}

.about-text p {
    margin-bottom: 20px;
}

/* Responsive layout for about section */
@media (max-width: 768px) {
    .about-container {
        grid-template-columns: auto;
        /* flex-direction: column; */
        text-align: center;
    }

    .about-picture, .about-text {
        padding: 1rem;
    }

    .profile-image {
        width: 300px;
        height: 300px;
    }

    .profile-picture {
        margin-bottom: 20px;
    }
}

/* Responsive layout for about section */
@media (max-width: 425px) {
    .about-container {
        /* flex-direction: column; */
        grid-template-columns: auto;
        text-align: left;
    }

    .profile-picture {
        margin-bottom: 20px;
    }
}