header {
    background: #004080; /* Changed from #333 to a deep blue */
    color: #fff;
    padding: 10px 5px;
    text-align: center;
    position: fixed;
    top: 38px;
    width: 100vw;
    min-height: 20vh;
    max-width: 1440px;
    backdrop-filter: blur(20px);
}

nav {
    position: relative;
}

.nav-items {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    column-gap: 1rem;
    padding: 1rem 0.5rem;
    align-items: center;
}

.nav-links {
    position: relative;
    right: 100px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hamburger-menu {
    display: none; /* Hide the hamburger menu by default */
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.8em;
    cursor: pointer;
}

#get-in-touch {
    display: inline-block;
    padding: 5px 5px;
    background: #ff9900;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    justify-self: center;
}

#get-in-touch:hover{
    background: hsl(210, 100%, 25%); /* Match the footer color with the header */
}

/* Responsive navigation */
@media (max-width: 768px) {
    header {
        padding: 5px 0;
        text-align: center;
        position: fixed;
        top: 0;
        width: 100vw;
        /* min-height: 20vh; */
        max-width: 768px;
    }

    .hamburger-menu {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        right: 0;
        background: #004080;
        width: 100vw;
        min-height: 100vh;
        padding: 10px;
        border-radius: 5px;
    }

    .nav-links.active {
        display: grid;
        grid-template-columns: auto;
        justify-content: left;
        min-height: 80vh;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 1.2em;
    }
}