#background {
    background-image: url('../images/cloud\ image\ with\ data\ packets\ hero\ banner.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    width: 100vw;
    min-height: 80vh;
    max-width: 1440px;
}

.hero-content {
    width: 100vw;
    display: grid;
    align-items: center;
}

.hero-content-wrapper {
    background-color: rgba(0, 0, 0, 0.7); /* Black background with 60% opacity */
    padding: 20px;
    color: white;
    margin-top: 10rem;
    min-height: 50vh;
    width: 70vw;
    /* Match the footer color with the header */
    /* background: #004080; */
    opacity: 1;
    box-shadow: 1px 1px 3px rgb(230, 230, 230);
}

.hero-content-wrapper:hover {
    transform: scale(1);
    background: green;
}

.hero-content {
    width: 70vw;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    justify-content: center;
}

.hero-content h2 {
    margin: 0;
    color: #ccc;
    border-bottom: 2px solid #ff9900;
}

.hero-content h4 {
    margin: 20px 0;
    text-align: left;
    color: #ccc;
    padding: 1rem 0.5rem;
}

.hero-content .cta {
    display: inline-block;
    align-self: center;
    padding: 10px 20px;
    background: #ff9900;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    position: relative;
    left: 30vw;
}

.hero-content .cta:hover{
    background: #004080; /* Match the footer color with the header */
}

@media(max-width: 320px) {
    .hero-content-wrapper {
        min-height: 70vh;
        width: 90vw;
    }

    .hero-content {
        width: 70vw;
        margin: 0 auto;
        padding: 20px;
        display: grid;
        justify-content: center;
    }

    .hero-content .cta {
        left: 9.5vw;
    } 
}

@media(max-width: 768px) {
    .hero-content-wrapper {
        min-height: 70vh;
        width: 90vw;
    }

    .hero-content {
        width: 70vw;
        margin: 0 auto;
        padding: 20px;
        display: grid;
        justify-content: center;
    }

    .hero-content .cta {
        display: none;
    } 
}

@media(max-width: 425px) {
    .hero-content-wrapper {
        min-height: 70vh;
        width: 90vw;
    }

    .hero-content {
        width: 70vw;
        margin: 0 auto;
        padding: 20px;
        display: grid;
        justify-content: center;
    }

    .hero-content .cta {
        left: 25vw;
    } 
}